/* Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./proximanova_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./proximanova_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: 
       url('./proximanova_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./proximanova_extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./proximanova_black.ttf') format('truetype'),
       url('./proximanova_black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Black Italic */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./proximanova_blackit.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./proximanova_boldit.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
